@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --dark-gray-1: #1a1a1a;
  --dark-gray-2: #393939;
  --dark-gray-3: #2a2a2a;
  --light-gray-1: #b8b6b6;
}

body {
  background-color: var(--dark-gray-3);
  color: white;
  cursor: default;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-color: var(--dark-gray-1);
  box-shadow: 0px -3px 20px black;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

a,
a:visited {
  color: lightgray;
  font-weight: bold;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  background: linear-gradient(90deg, var(--dark-gray-3), black, var(--dark-gray-3)) padding-box,
    linear-gradient(90deg, var(--dark-gray-3), white, var(--dark-gray-3)) border-box;
  border: 1px solid transparent;
  font-size: 2.75rem;
  letter-spacing: 5px;
  margin: 2rem auto;
  padding: 0.25rem 0;
  width: 600px;
}

h3 {
  background: linear-gradient(90deg, var(--dark-gray-1), var(--dark-gray-2), var(--dark-gray-1)) padding-box,
    linear-gradient(90deg, var(--dark-gray-1), white, var(--dark-gray-1)) border-box;
  border: 1px solid transparent;
  color: white;
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  padding: 0.5rem;
  width: 90%;
}

h4 {
  color: var(--light-gray-1);
  font-size: 1.25rem;
  margin: 0;
}

.builtWith {
  background-color: var(--light-gray-1);
  border-radius: 3rem;
  color: black;
  margin-bottom: 0;
  padding: 0.25rem 0.75rem;
}

.buildTools {
  color: white;
  margin-top: 5px;
  transition: all 0.25s ease-in-out;
}

.card:hover .buildTools {
  color: white;
}

.links {
  margin-top: auto;
}

.pipe {
  color: var(--light-gray-1);
}

/* SECTIONS */

#main {
  border-radius: 1rem;
  min-height: 500px;
  text-align: center;
  width: 100%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: var(--dark-gray-1);
  border-radius: 1rem;
  border: 1px solid white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 40%);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  width: 375px;
}

.card:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.02) translate3d(0, 0, 0);
  -webkit-transform: scale(1.02) translate3d(0, 0, 0);
}

/* THUMBNAILS  */

.thumbnail {
  align-items: center;
  background-color: var(--dark-gray-1);
  border-radius: 1rem;
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 0.25s ease-in-out;
  width: 200px;
  z-index: 1;
}

.card:hover .thumbnail {
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 0px black;
}

.thumbnailShadow {
  border-radius: 1rem;
  height: inherit;
  position: absolute;
  transition: all 0.25s ease-in-out;
  width: inherit;
  z-index: 1;
}

.card:hover .thumbnailShadow {
  border-radius: 1rem;
  box-shadow: inset 0px 0px 15px 0px black;
  overflow: hidden;
}
.card:hover .pipe {
  color: var(--light-gray-1);
}

.thumbnailImage {
  border-radius: 1rem;
  height: 200px;
  opacity: 0.5;
  width: 200px;
}

.card:hover .thumbnailImage {
  animation: zoom-in-out 20s ease-in-out infinite;
  -webkit-animation: zoom-in-out 20s ease-in-out infinite;
  height: inherit;
  opacity: 1;
  width: inherit;
}

.thumbText {
  color: black;
  font-family: "Orbitron", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  opacity: 0.25;
  position: absolute;
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.card:hover .thumbText {
  opacity: 0;
}

/* ANIMATION */

@keyframes zoom-in-out {
  0% {
    transform: scale(1.05, 1.05) rotate(0);
  }
  25% {
    transform: scale(1.5, 1.5) rotate(45deg);
  }
  50% {
    transform: scale(1.05, 1.05) rotate(0);
  }
  75% {
    transform: scale(1.5, 1.5) rotate(-25deg);
  }
  100% {
    transform: scale(1.05, 1.05) rotate(0);
  }
}

@-webkit-keyframes zoom-in-out {
  0% {
    -webkit-transform: scale(1.05, 1.05) rotate(0);
  }
  25% {
    -webkit-transform: scale(1.5, 1.5) rotate(45deg);
  }
  50% {
    -webkit-transform: scale(1.05, 1.05) rotate(0);
  }
  75% {
    -webkit-transform: scale(1.5, 1.5) rotate(-25deg);
  }
  100% {
    -webkit-transform: scale(1.05, 1.05) rotate(0);
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  #container {
    align-items: center;
    flex-direction: column;
  }

  h1,
  h2 {
    font-size: 2.5rem;
  }

  h2 {
    width: 80%;
  }

  h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: fit-content;
  }

  h2 {
    font-size: 2rem;
  }
}
