@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");

:root {
  --black: #000000;
  --dark-grey: #141414;
  --medium-grey: #282828;
  --light-grey: #b3b3b3;
  --dark-purple: #230046;
  --medium-purple: #320064;

  --dark-bp: #100b33;
  --navy-bp: #0c1554;
  --med-bp: #2e3b69;
  --med-blue: #374fa3;
  --lt-purple: #6e67ba;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--black);
  color: white;
}

a {
  color: var(--light-grey);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: var(--light-grey);
}

header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: var(--dark-grey);
  /* box-shadow: 0px 0px 15px var(--medium-grey); */
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 10px;
  color: white;
}

h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  margin: 2rem 0 1rem 0;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 2.75rem;
  letter-spacing: 5px;
}

h4 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
  color: var(--light-grey);
  margin: 0.5rem 0 0 0;
}

#main {
  background-color: var(--dark-grey);
  margin: 50px 25px;
  padding: 10px;
  min-height: 500px;
  text-align: center;
  /* box-shadow: 0px 0px 20px var(--medium-purple); */
}

#container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--black);
  max-width: 400px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  background-color: #404040;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbText {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  #container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: fit-content;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1rem;
  }
}
