@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");

:root {
  --deep-blue: #081b33;
  --dark-blue: #152642;
  --dark-matte-blue: #353c51;
  --medium-dark-blue: #2f4562;
  --medium-blue: #506680;
  --light-blue: #767d92;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--deep-blue);
  color: white;
  cursor: default;
  caret-color: #767d92;
}

header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: var(--deep-blue);
  box-shadow: 0px -3px 20px black;
}

/*==========>> TEXT */

a,
a:visited {
  color: lightblue;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  margin: 0px;
  color: white;
}

h3 {
  color: var(--light-blue);
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  margin: 2rem 0 1rem 0;
}

h2 {
  color: var(--light-blue);
  font-family: "Orbitron", sans-serif;
  font-size: 2.75rem;
  letter-spacing: 5px;
  margin-bottom: 0.75rem;
}

h4 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
  color: var(--light-blue);
  margin: 0;
}

.thumbText {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: var(--dark-blue);
  position: absolute;
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.card:hover .thumbText,
.card.hover .thumbText {
  color: var(--deep-blue);
  opacity: 0;
}

.builtWith {
  color: var(--light-blue);
  margin-bottom: 0;
}

.buildTools {
  color: var(--light-blue);
  margin-top: 5px;
  transition: all 0.25s ease-in-out;
}

.card:hover .buildTools,
.card.hover .buildTools {
  color: white;
}

.links {
  margin-top: auto;
}

.pipe {
  color: var(--light-blue);
}

/*==========>> SECTIONS */

#main {
  border-radius: 1rem;
  min-height: 500px;
  text-align: center;
  width: 100%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: var(--deep-blue);
  border: 3px solid var(--dark-matte-blue);
  border-radius: 1rem;
  width: 375px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  background-color: var(--dark-matte-blue);
  border-color: var(--light-blue);
  box-shadow: 0 0 15px rgba(118, 125, 146, 0.5);
  transform: scale(1.02);
}

/*==> THUMBNAILS  */

.thumbnail {
  background-color: var(--medium-blue);
  height: 200px;
  width: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

.card:hover .thumbnail,
.card.hover .thumbnail {
  background-color: var(--light-blue);
  box-shadow: 0px 0px 10px 5px var(--deep-blue);
}

.thumbnailShadow {
  border-radius: 1rem;
  height: 200px;
  width: 200px;
  position: absolute;
  transition: all 0.25s ease-in-out;
}

.card:hover .thumbnailShadow,
.card.hover .thumbnailShadow {
  box-shadow: inset 0px 0px 15px 0px black;
}

.thumbnailImage {
  height: 200px;
  width: 200px;
  border-radius: 1rem;
  opacity: 0.15;
}

.card:hover .thumbnailImage,
.card.hover .thumbnailImage {
  opacity: 1;
}

.card:hover .fsb,
fsbrd.hover .fsb {
  content: url("./public/fsb-gif.gif");
}

.card:hover .ca,
.card.hover .ca {
  content: url("./public/ca-gif.gif");
}

.card:hover .mmVetApp,
.card.hover .mmVetApp {
  content: url("./public/M&M veterinary clinic.gif");
}

.card:hover .movieHub,
.card.hover .movieHub {
  content: url("./public/mh-gif.gif");
}

.card:hover .myThoughts,
.card.hover .myThoughts {
  content: url("./public/mt-gif.gif");
}

.card:hover .gifSifter,
.card.hover .gifSifter {
  content: url("./public/gs-gif.gif");
}

.card:hover .myThoughts,
.card.hover .myThoughts {
  content: url("./public/mt-gif.gif");
}

.card:hover .amm,
.card.hover .amm {
  content: url("./public/amm-gif.gif");
}

.card:hover .sca,
.card.hover .sca {
  content: url("./public/sca-gif.gif");
}

/*==========>> MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  #container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    background-color: var(--dark-matte-blue);
    border-color: var(--light-blue);
  }

  .thumbnail {
    background-color: var(--light-blue);
    box-shadow: 0px 0px 10px var(--dark-blue);
  }

  .thumbText {
    color: var(--deep-blue);
  }

  .buildTools {
    color: white;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: fit-content;
  }

  h2 {
    font-size: 1.75rem;
  }
}
